<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="background-color: LightGray;">
    <form action="/" method="GET">
        <button><a>Go To Home</a></button><br><br>
    </form>
    <table>
        <tr>
            <th>Song Name</th>
            <th>Album Name</th>
            <th>Artist Name</th>
            <th>Creation Date</th>
            <th>Genre</th>
        </tr>
        {% for tuple in data: %}                                          
        <tr>
            <td>{{tuple[0]}}</td>
            <td>{{tuple[1]}}</td>
            <td>{{tuple[2]}}</td>
            <td>{{tuple[3]}}</td>
            <td>{{tuple[4]}}</td>
            <form action="/unlike" method="POST">

                <!-- <p><input type=" submit" value="Add to a playlist" name="song_name" /></p> -->
                <td>
                    <button name="song_name" type="submit" value="{{ tuple[0] | string }}">Unlike Song</button>
                </td>
            </form>
        {% endfor %}
    </table>
</body>

</html>