<!doctype html>


<head>
    <title>Search</title>
    <meta charset=utf-8>
</head>

<body style="background-color: LightGray;">
    <form action="/search_result" method="POST">
        <label for="search_text">search text:</label><br>
        <input type="text" id="search_text" name="search_text"><br><br>
        <label for="search_type">Choose a type:</label>
        <select id="search_type" name="search_type">
            <option value="artist">Artist</option>
            <option value="album">Album</option>
            <option value="song">Song</option>
            <option value="genre">Genre</option>
        </select>
        <button><a>Send</a></button><br>
    </form>


</body>